
div.css-fg4pbf.eczokvf0 {
    background-color: rgb(255, 255, 255);
}




div.css-zbg2rx.e1fqkh3o1 {
    background-color: rgb(158, 154, 154);
}


div.css-128j0gw.egzxvld2{
    background-color: rgb(158, 154, 154);
}

li.css-9t20qt.e1wbw4rs1{
    background-color: rgb(158, 154, 154);
}



span.css-10trblm.e16nr0p33{
    color:rgb(0, 0, 0);
    font-size: 80%;
}


div.css-xzgcnq{
    background-color: rgb(158, 154, 154);
}